<h1>Admin dashboard  </h1>

<p> There are currently  products in the database.</p>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>Products</td>
    <td><%= @products  %></td>
  </tr>
  <tr>
    <td>Categories</td>
    <td><%= @categories  %></td>
  </tr>
</table>


